@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";

  --green-primary: rgb(34, 139, 34);
  --green-secondary: rgb(50, 205, 50);
  --green-light: rgb(0, 255, 127, 0.2);

  --blue-primary: rgb(30, 144, 255);
  --blue-secondary: rgb(0, 191, 255);
  --blue-light: rgb(70, 130, 180, 0.2);

  --red-primary: rgb(255, 0, 0);
  --red-secondary: rgb(220, 20, 60);
  --red-light: rgb(139, 0, 0, 0.2);

  --orange-primary: rgb(255, 69, 0);
  --orange-secondary: rgb(255, 99, 71);
  --orange-light: rgb(255, 99, 71, 0.2);
}

.section-title {
  @apply text-2xl font-[600] dark:text-gray-200;
}

.text-normal {
  @apply text-sm text-gray-500 dark:text-gray-500;
}

.text-bold {
  @apply text-sm font-bold text-gray-700 dark:text-gray-200;
}

.mini-text-normal {
  @apply text-[13px] text-gray-500 dark:text-gray-500;
}

.mini-text-bold {
  @apply text-[13px] font-bold text-gray-500 dark:text-gray-200;
}

.text-values {
  @apply text-[22px] text-gray-900 font-[600] dark:text-gray-200;
}

.shaded-texts {
  @apply text-[11px] px-2 rounded-[5px] bg-gray-200 m-[5px] w-fit dark:bg-gray-300;
}

.component-border {
  @apply border rounded-2xl border-gray-300 dark:border-gray-500;
}

.input {
  @apply px-2 py-1 h-8 border border-gray-300 dark:border-gray-500 dark:text-gray-200 rounded w-50 text-sm;
}

.selector {
  @apply bg-gray-200 rounded-[5px] h-8 px-2;
}

.button {
  @apply bg-black text-white px-3 py-1 h-8 rounded hover:bg-stone-700 cursor-pointer;
}
