@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";

  --green-primary: rgb(34, 139, 34);
  --green-secondary: rgb(50, 205, 50);
  --green-light: rgb(0, 255, 127, 0.2);

  --blue-primary: rgb(30, 144, 255);
  --blue-secondary: rgb(0, 191, 255);
  --blue-light: rgb(70, 130, 180, 0.2);

  --red-primary: rgb(255, 0, 0);
  --red-secondary: rgb(220, 20, 60);
  --red-light: rgb(139, 0, 0, 0.2);

  --orange-primary: rgb(255, 69, 0);
  --orange-secondary: rgb(255, 99, 71);
  --orange-light: rgb(255, 99, 71, 0.2);
}

.section-title {
  @apply text-[25px] font-[650] dark:text-gray-200;
}

.text-normal {
  @apply text-sm text-gray-700 dark:text-gray-200;
}

.text-bold {
  @apply text-sm font-bold text-gray-700 dark:text-gray-200;
}

.mini-text-normal {
  @apply text-[12px] text-gray-500 dark:text-gray-400;
}

.mini-text-bold {
  @apply text-[13px] font-bold text-black dark:text-gray-200;
}

.text-values {
  @apply text-[22px] text-gray-900 font-[700] dark:text-gray-200;
}

.shaded-texts {
  @apply text-[11px] px-2 rounded-[5px] bg-gray-200 m-[5px] w-fit dark:bg-gray-400/20;
}

.component-border {
  @apply border rounded-2xl border-gray-300 dark:border-gray-500;
}

.input {
  @apply px-2 py-1 h-8 border border-gray-300 dark:border-gray-500 dark:text-gray-200 rounded w-50 text-sm;
}

.selector {
  @apply bg-gray-200 rounded-[5px] h-8 px-2 text-sm;
}

.button {
  @apply flex justify-center items-center bg-black text-white px-2 py-1 h-8 rounded-[6px] hover:bg-stone-700 cursor-pointer text-sm dark:bg-white dark:text-black dark:hover:bg-white/50 duration-500;
}

.bright-button {
  @apply flex items-center justify-center bg-white text-black border border-gray-300 px-2 py-1 h-6 rounded-[6px] hover:bg-stone-200 cursor-pointer text-sm dark:bg-black dark:text-white dark:border-white dark:hover:bg-white/50 duration-500;
}

.bordered-text {
  @apply border border-gray-300 dark:border-gray-500 px-2 rounded-[6px];
}

.diagonal-line {
  @apply absolute w-full h-px bg-(--red-primary) rotate-45 top-[2px] left-[2px] origin-left;
}

.nav-arrows {
  @apply cursor-pointer h-5 w-2 hover:bg-gray-200 dark:border-gray-500 px-2 rounded-[6px];
}

.card {
  @apply h-fit min-h-20 p-5 w-60 rounded-2xl bg-white shadow-2xl hover:shadow-gray-400 hover:translate-y-[-4px] duration-400 dark:bg-black/30 dark:hover:shadow-black/80;
}

.progress-bar {
  @apply h-2 w-full rounded-2xl bg-gray-300 relative overflow-hidden after:bg-black after:absolute after:h-full after:left-0 after:content-[''] dark:bg-gray-800 dark:after:bg-white;
}

.profile {
  @apply w-9 h-9 rounded-full border border-gray-300;
}

.date {
  @apply rounded hover:bg-gray-300 hover:text-gray-500 flex justify-center p-1 border cursor-pointer disabled:text-gray-400 disabled:border-0 disabled:hover:bg-white dark:border-gray-500 dark:hover:text-black dark:hover:bg-gray-500;
}

.today {
  @apply border-orange-300 border-2;
}

.selected {
  @apply bg-black text-white dark:bg-white dark:text-black;
}
